@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito+Sans:wght@200;300;600&family=Poppins:wght@200&display=swap");

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: 900;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

main {
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto {
    font-size: 2rem;
    display: block;
    text-align: center;
    transition: 1s;
}